@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-background: oklch(21% 0.006 285.885);
  --color-card: oklch(27.4% 0.006 286.033);
  --color-input: oklch(37% 0.013 285.805);
  --color-button: oklch(14.1% 0.005 285.823);
  --color-font: oklch(92.8% 0.006 264.531);
}

