@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-background: oklch(98.5% 0.001 106.423);
  --color-card: oklch(92.3% 0.003 48.717);
  --color-input: oklch(97% 0.001 106.424);
  --color-button:oklch(55.3% 0.013 58.071);
  --color-button-primary: oklch(76.9% 0.188 70.08);
  --color-font:oklch(14.7% 0.004 49.25);
  --color-red: oklch(63.7% 0.237 25.331);
  --color-green: oklch(72.3% 0.219 149.579);
  --font-logo: 'Outfit', sans-serif;
  --font-body: 'Roboto', sans-serif;
}

@layer base {
  body {
    @apply font-body;
  }
}
